@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
  @apply bg-gradient-to-b from-blue-100 via-white to-blue-50 min-h-screen;
}

.active {
  color: blue;
}
.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
  color: red !important;
}
.slick-prev {
  left: -0px !important;
  z-index: 10;
}
.slick-next {
  right: 4px !important;
}
